.toggle {
  position: absolute;
  width: 115px;
}
.toggle-cb {
  display: none;
}
.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0.5px solid #999999;
  border-radius: 50px;
}
.toggle-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-inner:before,
.toggle-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 35px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding-bottom: 36px;
}
.toggle-inner:before {
  content: "Yes";
  padding-left: 20px;
  background-color: red;
  color: #ffffff;
  font-size: 20px;
}
.toggle-inner:after {
  content: "No";
  padding-right: 20px;
  color: #999999;
  text-align: right;
  font-size: 20px;
  background-color: #ebebeb;
}

.toggle-switch {
  display: block;
  width: 45px;
  margin: -5px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 74px;
  border: 0.5px solid #999999;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}
.toggle-cb:checked + .toggle-label .toggle-inner {
  margin-left: 0;
}
.toggle-cb:checked + .toggle-label .toggle-switch {
  right: 0px;
}
