.menu-item {
  display: none;
  cursor: none;
}

input {
  display: none;
}

input:checked ~ a {
  visibility: visible;
  opacity: 1;
}
.menu-open-button {
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #d24c4c;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: #d24c4c;
}

.menu-line {
  width: 15px;
  height: 2px;
  background-color: white;
  margin: 1px;
}

.menu-open-button:hover .menu-line {
  transition: transform, 0.2s;
}

input:checked ~ .menu-open-button .menu-line-1 {
  transform: rotate(-45deg);
  position: absolute;
}

input:checked ~ .menu-open-button .menu-line-2 {
  transform: rotate(45deg);
  position: absolute;
}

input:checked ~ .menu-open-button .menu-line-3 {
  display: none;
}

.menu-open-button:hover {
  width: 35px;
  height: 35px;
}
.menu-item {
  display: flex;
  border: 1px solid#d24c4c;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 2px;
  background-color: #d24c4c;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  transform: translateY(5px);
}

.menu-item:hover {
  color: #d24c4c;
  background-color: white;
}
